


form {
  border: solid 1px #000;
  padding: 20px;

}

label {
  display: block;
  margin: 10px 0;
}

button {
  display: block;
  margin: 20px 0;
}

td {
  border: solid 1px black;
  padding: 5px;
}
