<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show Me The Data</title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <table>
    <% for (var i = 0; i < people.length; i++) { %>
      <tr>
        <td><%= people[i].firstName %></td>
        <td><%= people[i].lastName %></td>
        <td><%= people[i].bio %></td>
      </tr>
      <p></p>
    <% } %>
    </table>
  </body>
</html>
