<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EJS Page!</title>

    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>Population for <%= country %></h1>

    <table>
      <thead>
        <tr>
          <th>Year</th>
          <th>Population</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<years.length; i++) {%>
        <tr>
          <td><%= years[i].year %></td>
          <td><%= years[i].population %></td>
        </tr>
        <% } %>
      </tbody>
    </table>

  </body>
</html>
