@import 'reset';

body {
  padding: 20px;
}

h2 {
  font-family: Helvetica, sans-serif;
  font-size: 1.4em;
  font-weight: bold;
}


ul > li {
  margin: 20px 0;
}

ol {
  border: solid 1px #000;
  max-width: 50%;
}
