

ul {
  overflow: auto;
  padding-left: 0;
}

li {
  border: solid 1px black;
  border-radius: 50%;
  float: left;
  list-style-type: none;
  height: 60px;
  margin-right: 20px;
  padding-top: 40px;
  text-align: center;
  width: 100px;
}

.selected {
  background-color: rgba(0, 255, 0, 0.2);
}
