section li {
  font-family: helvetica;
}

.different {
  color: blue;
}

#cool-list li {
  font-size: 1.3em;
}


header {
  background-color: #000;
  color: #FFF;
}


.container {
  margin: 0 auto;
  max-width: 960px;
}

.column-1 {
  background-color: pink;
  float: left;
  width: 50%;
}

.column-2 {
  float: left;
  width: 50%;
}


.change-below {
  background-color: white;
  border: solid 2px black;
  padding: 20px;
}

.yellowish {
  background-color: yellow;
}
